git+https://github.com/QuantNote/pyquant-client.git
matplotlib==3.5.1
matplotlib-inline==0.1.3
pandas==1.4.0
Pillow==9.1.0
plotly==5.5.0
python-dateutil==2.8.1
python-dotenv==0.19.2
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-ntlm==1.1.0
tqdm==4.62.3
typing_extensions==4.1.1
urllib3==1.26.8
